<div class="double-list-label">&nbsp;</div>

<div class="double-list-controls">
    <div class="btn-group btn-group-vertical">
        <button type="button" class="btn btn-large unselect"><i class="fa fa-chevron-left icon-large"></i></button>
        <button type="button" class="btn btn-large select"><i class="fa fa-chevron-right icon-large"></i></button>
    </div>
</div>
