<div class="double-list-label">{{ 'double_list.selected'|trans({}, 'AvocodeFormExtensions' }}</div>

<ul id="{{ id }}_selected" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
{% for choice in choices %}
    {% if choice is selectedchoice(value) %}
    <li data-value="{{ choice.value }}"><a tabindex="-1" href="#">{{ choice.label }}</a></li>
    {% endif %}
{% endfor %}
</ul>