<span class="add" {% if form.vars.data|default is not empty %}style="display: none;"{% endif %}>
    <i class="icon-plus icon-white"></i> {{ 'afe_single_upload.button.add'|trans({}, 'AvocodeFormExtensions') }}
</span>
<span class="replace" {% if form.vars.data|default is empty %}style="display: none;"{% endif %}>
    <i class="icon-refresh icon-white"></i> {{ 'afe_single_upload.button.replace'|trans({}, 'AvocodeFormExtensions') }}
</span>