/* File input */
.fileinput {
    position: relative;
    overflow: hidden;
}

.fileinput input[type="file"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 0 0 100px 200px;
    cursor: pointer;
    direction: ltr;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
    height: 30px;
    line-height: 30px;
}

/* Upload presentation table styles */
tbody.files > tr > td {
    padding-top: 10px;
    padding-bottom: 10px;
}

tbody.files > tr > td.actions {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set fallback background for files_list item */
tbody.files > tr {
    background-color: #fff;
}

/* Hide the handle by default */
tbody.files.sortable > tr.template-download .sort .handle {
    color: rgba(153, 153, 153, 0);
    cursor: pointer;
    transition: all 0.35s ease-in 0s;
}

/* Show muted handle for currently hovered item */
tbody.files.sortable > tr.template-download:hover .sort .handle {
    color: rgba(153, 153, 153, 0.25);
}

/* Fade in handle for currently dragged item  */
tbody.files.sortable > tr.ui-sortable-helper .sort .handle:hover {
    color: rgba(153, 153, 153, 1);
}

/* Fade out currently dragged item */
tbody.files.sortable > tr.ui-sortable-helper {
    opacity: 0.35;
}

/* Add placeholder background */
tr.sortable-placeholder {
    background-color: #F5F5F5 !important;
    background-image: linear-gradient(45deg, 
        rgba(255, 255, 255, 0.25) 25%, 
        transparent 25%, transparent 50%, 
        rgba(255, 255, 255, 0.25) 50%, 
        rgba(255, 255, 255, 0.25) 75%, 
        transparent 75%, transparent
    );
    background-repeat: repeat;
    background-size: 80px 80px;
    box-shadow: 0 -1px 0 rgba(153, 153, 153, 0.25) inset, 0 1px 0 rgba(153, 153, 153, 0.25) inset;
}

tr.sortable-placeholder td {
    background: none transparent !important;
    border: none transparent !important;
}