{% if allow_add %}
{% spaceless %}
<a class="btn btn-primary new">
    <i class="icon-plus icon-white"></i>
    {{- ' ' ~ 'afe_bootstrap_collection.add'|trans({}, 'AvocodeFormExtensions') -}}
</a>
{% endspaceless %}
{% endif %}