{% if allow_delete %}
{% spaceless %}
<a class="btn btn-danger batch-delete">
    <i class="icon-trash icon-white"></i>
    {{- ' ' ~ 'afe_bootstrap_collection.delete'|trans({}, 'AvocodeFormExtensions') -}}
</a>
<label class="btn btn-toggle disabled input-append">
    <input type="checkbox" name="toggle">
</label>
{% endspaceless %}
{% endif %}